[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteEchoService
Exec=/home/pi/Documents/codez/tools/dbus/dbus-1.12.20/test/test-service
User=anyrandomuser

