[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/pi/Documents/codez/tools/dbus/dbus-1.12.20/test/test-shell-service -test "that" 'we get' back --what "we put in"

