[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/pi/Documents/codez/tools/dbus/dbus-1.12.20/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
