[D-BUS Service]
Name=com.example.SendDeniedByAppArmorLabel
Exec=/bin/false SendDeniedByAppArmorLabel
SystemdService=dbus-com.example.SendDeniedByAppArmorLabel.service
AssumedAppArmorLabel=/home/pi/Documents/codez/tools/dbus/dbus-1.12.20/test/test-apparmor-activation//com.example.SendDeniedByAppArmorLabel
