[D-BUS Service]
Name=com.example.SendDeniedByNonexistentAppArmorLabel
Exec=/bin/false SendDeniedByNonexistentAppArmorLabel
SystemdService=dbus-com.example.SendDeniedByNonexistentAppArmorLabel.service
# This label is not defined in any AppArmor profile
AssumedAppArmorLabel=/home/pi/Documents/codez/tools/dbus/dbus-1.12.20/test/test-apparmor-activation-com.example.SendDeniedByNonexistentAppArmorLabel
